p{
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 0;
}
.heading-5c{
    font-weight: bold;
    margin-bottom: 5px;
}
.tagline-5c{
    color:grey;
    margin-bottom: 20px;
}
.description-5c{
    width:280px;
    margin-bottom: 20px;
}
.button-5c{
    color:white;
    background-color: green;
    border-style: none;
    padding:8px 20px;
    border-radius: 6px;
    transition: opacity 0.3s;
}
.button-5c:hover{
    opacity: 0.7;
}