p{
    font-family: arial;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.new-5e{
    color: rgb(253, 64, 7);
}
.name-5e{
    font-size:20px;
    font-weight: bold;
}
.heading-5e{
    font-weight: bold;
    font-size: 40px;
}
.buy-5e{
    color: white;
    background-color: rgb(11, 106, 201);
    border-style: none;
    padding: 8px 18px ;
    border-radius: 20px;
}