.cat_icon{
    width:50px;
    height:50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    margin-right: 5px;
}
.text_box{
    vertical-align: middle;
    border-style: none;
    font-size: 20px;
    padding-right: 100px;
}
.tweet{
    color:white;
    font-size: 16px;
    background-color: rgb(29,155,240);
    border-style: none;
    padding:8px 14px;
    border-radius: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.tweet:hover{
    opacity:0.7;
}
.tweet:active {
    opacity:0.4;
}
